@model System.Collections.Generic.IEnumerable<NFlog.Core.NFlogMessage>
@{
    ViewBag.Title = "Home Page";
}

<table>
    @foreach (var message in Model)
    {
        <tr>
            <td>@message.AppName</td>
            <td>@message.DateTime</td>
            <td>@message.Message</td>
        </tr>
    }
</table>
